<div class="comment-page">

    <div class="commentForm">
        <form method="post" action="">
            <h2>Send Message</h2>
            <div class="InputBox">
                <input type="text" id="fullName" name="fullName" required="required">
                <span>Full Name</span>
            </div>
            <div class="InputBox">
                <input type="email" id="email" name="email" required="required">
                <span>Email</span>
            </div>
            <div class="InputBox">
                <textarea name="comment" required="required"></textarea>
                <span>Type your Message...</span>
            </div>
            <button class="send" type="submit" value="Submit">Send</button>
        </form>
    </div>

</div>