    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2>
        </div>
        <div class="Container1">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="contact-text">
                        <h3>Address</h3>
                        <p>4632 Sugar Camp Road, <br>Owatonna,Minnesota,<br>55060</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="contact-text">
                        <h3>Phone</h3>
                        <p>024-969-2032</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <div class="contact-text">
                        <h3>Email</h3>
                        <p>jhoansackey@gmail.com</p>
                    </div>
                </div>
    </section>