<div class="feedback">
        

    <div id="feedback-text">
    <h1>Thank you for your feedback</h1>
    <h5>You will be redirected to the homepage in <span id="countdown"></span> seconds</h1>
    </div>
</div>
<script src="js/feedback.js"></script>